<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="container">
    <h1>API Basejump: Request Header Parser microservice</h1>
    <blockquote>
        User stories:
        <ol>
            <li>I can get the IP address, language and operating system for my browser.</li>
        </ol>
    </blockquote>
    <h2>Example usage:</h2>
    <a href="api/whoami">https://fcc-header-parser-zklinger.herokuapp.com/api/whoami</a><br/>
    <h2>Example output:</h2>
    <code>{
        "ipaddress": "10.178.99.141",
        "language": "en-US",
        "os": "Mac OS 10.11.6"
        }</code>
</div>

</body>
</html>
